.img{
    width: 250px;
}
.price{
    background-color: rgba(134, 247, 247, 0.407);
    width: 70px;
}
.bg{
    background-color: rgb(227, 227, 221);
}
.nav{
    height: 100px;
    background-color: rgb(215, 207, 197);
}
.fw{
    font-weight: 700;
}