.img{
    width: 250px;
}
.price{
    background-color: rgba(134, 247, 247, 0.407);
    width: 70px;
}
.bg{
    background-color: lightcyan;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.nav{
    height: 100px;
    background-color: skyblue;
}
.fw{
    font-weight: 700;
}

.card{
    cursor: pointer;
}

.my-card{
    width: 100%;
    height: 400px;
}

.my-card img {
    width: 50%;
}